h1 {
  font-size: 90px !important;
  font-family: var(--primary-font-family) !important;
}

.hero {
  text-align: center;
  background-color: rgba(60, 85, 51, 0.05);
  padding: 160px 20px;
}

.hero p {
  font-size: 36px;
  font-weight: 700;
  margin: 0;
  font-family: var(--secondary-font-family) !important;
}

.hero h2 {
  line-height: 2;
  font-size: 24px;
  font-weight: 400;
  font-family: var(--secondary-font-family) !important;
  color: var(--primary-font-family) !important;
}

.content {
  margin: 30px;
}

.content-container {
  padding: 160px 20px;
}

.content h1 {
  font-size: 64px;
  line-height: 80px;
}

.content-container h2 {
  line-height: 1.4;
}

.content h3 {
  font-size: 24px;
  font-family: var(--secondary-font-family);
}
.content p {
  font-family: var(--secondary-font-family);
  color: var(--secondary-color);
}

.work-content {
  padding-top: 0;
}

.project-details {
  padding: 120px 60px;
}
