.logo {
  display: inline;
  line-height: 42px;
  font-weight: 900;
  font-family: var(--secondary-font-family);
  font-size: 40px;
}

.container-header {
  max-width: 100% !important;
  padding: 0 60px !important;
}

nav {
  padding: 20px 0;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav li {
  display: inline;
  margin-left: 15px;
  line-height: 42px;
}

nav a {
  text-decoration: none;
  color: var(--secondary-color);
}

nav a:hover,
nav li.active a {
  color: var(--accent-color);
}

.rotate {
  display: inline-block;
  transform: rotate(-15deg) translateY(5px) translateX(-2px);
  color: var(--accent-color);
}
