.logo {
  display: inline;
  line-height: 42px;
  font-weight: 900;
  font-family: var(--secondary-font-family);
  font-size: 40px;
}

.logo a {
  color: var(--primary-color);
  text-decoration: none;
}

.container-header {
  max-width: 100% !important;
  padding: 0 60px !important;
}

.nav-links {
  display: flex;
  justify-content: end;
}

nav {
  padding: 20px 0;
}

.link {
  display: inline;
  margin-left: 20px;
  line-height: 42px;
  color: var(--primary-color);
  text-decoration: none;
}

.active-link {
  color: var(--accent-color);
  margin-left: 20px;
  line-height: 42px;
  font-weight: bold;
  text-decoration: none;
}

.link:hover {
  color: var(--accent-color);
}

.rotate {
  display: inline-block;
  transform: rotate(-15deg) translateY(5px) translateX(-2px);
  color: var(--accent-color);
}
