.work-content {
  padding-top: 0;
}

.card {
  position: relative;
  width: 300px;
  height: 400px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  background-color: #fff;
  display: flex;
  flex-direction: column;
}

.card img {
  width: 100%;
  height: 60%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

/* Overlay effect */
.card-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  color: white;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  opacity: 0;
  transition: opacity 0.3s ease;
}

/* button inside the overlay */
.card-button {
  background-color: var(--accent-color);
  color: white;
  padding: 15px 30px;
  border-radius: 4px;
  transform: translateY(100%); /* Initially hidden below the card */
  transition: transform 0.3s ease;
  text-decoration: none;
  font-family: var(--secondary-font-family);
  font-weight: 600;
}

/* On hover, show the overlay, slide up the button, and move the text */
.card:hover .card-overlay {
  opacity: 1;
}

.card:hover .card-button {
  transform: translateY(0);
}
