.card {
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  height: 400px !important;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card:hover {
  transform: scale(1.05);
}

.card-img {
  width: 100%;
  height: 60% !important;
  object-fit: cover;
}

.card-content {
  padding: 1rem;
}

.card-title,
.card-text {
  margin: 0.5rem 0;
}

.card-text {
  color: #d9d9d9 !important;
}

.card-body {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 40% !important;
}

.card-overlay {
  position: absolute;
  bottom: -100%;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  text-align: center;
  padding: 1rem;
  transition: bottom 0.3s ease-in-out;
}

.card:hover .card-overlay {
  bottom: 0;
}

.card-button {
  background-color: var(--accent-color);
  border: none;
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 1rem;
  transition: background-color 0.3s;
  font-family: var(--secondary-font-family);
  font-weight: 600;
}

.card-button:hover {
  background-color: var(--secondary-color);
}
